html, body {
	margin: 0;
	padding: 0;
	background-color: #EC8060;
}


.container {
	/*border: 3px solid #00FFA7;*/
	width:50%;
}

.section{
	display: flex;
	justify-content: center;
}

.headerBackground {
	background-color: #419BB0;
	height: 110px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: helvetica;
}

.highlight {
	color: #EBE984;
	font-weight: bold;
}

.navigationBar a { 
	padding: 5px;
	font-family: helvetica;
	text-decoration: none;
	font-family: ubuntu;
	color: #000000;
	font-size: 17px;

}

.heroImage {
	background-image: url("hamsterpic.jpg");
	background-size: cover;
	background-position: center;
	height: 350px;

}

.infoBackground {
	background-color: #EFEB96;

}

.textBox {
	/*border: 3px solid #8955FF;*/
	flex-grow: 1;
	padding: 0px 10px ;

}

.info {
	display: flex;
}

.fot {
	background-color: #EC8060;
}
